.input {
  display: block;
  background: transparent;
  border: none;
  font-size: 20px;
  color: #fff;
  font-family: Roboto, Helvetica, Arial, sans-serif;
  text-align: right;
  width: 100%;

  &:focus {
    outline: none;
  }
}
